<div id="content">
    <div class="row">
      <div id="sidenav" class="col-xl-3 col-lg-4 col-md-5 col-sm-6">
        <h5><i class="fas fa-user"></i> マイアカウント</h5>
        <p>ユーザー名：</p>
        <ul id="user-menu" class="nav nav-pills flex-column">
          <li class="nav-item">
            <a id="1" class="nav-link click active" href="#"><i class="fas fa-chevron-right"></i> アカウントの情報</a>
          </li>
          <li class="nav-item">
            <a id="2" class="nav-link click" href="#"><i class="fas fa-chevron-right"></i> 会員情報のご変更</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#"><i class="fas fa-chevron-right"></i> Link3</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#"><i class="fas fa-chevron-right"></i> Link4</a>
          </li>
        </ul>
        <br>
        <h5><i class="fas fa-tools"></i> 社内ツール</h5>
        <p>(Internal Tools)</p>
        <ul class="nav nav-pills flex-column">
          <!-- <li class="nav-item">
            <a class="nav-link" href="../functions" target="_blank"><i class="fas fa-chevron-right"></i> 一番星V8レファレンス</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link disabled" href="#"><i class="fas fa-chevron-right"></i> 一番星V8</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#"><i class="fas fa-chevron-right"></i> 一番星V7</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#"><i class="fas fa-chevron-right"></i> 倉一郎</a>
          </li>
        </ul>
        <hr class="d-sm-none">
      </div>
      <div id="layout" class="col-xl-9 col-lg-8 col-md-7 col-sm-6">
        home
        <div class="text-center">
            <img src="../../assets/u_construction.png" width="65%">
        </div>
      </div>
    </div> 
  </div>